[changes]
ignore_conventional_commits = true

[packages.conformal_vst_wrapper]
versioned_files = ["rust/vst-wrapper/Cargo.toml", "Cargo.lock"]
changelog = "rust/vst-wrapper/CHANGELOG.md"
scopes = ["conformal_vst_wrapper"]

[packages.conformal_preferences]
versioned_files = [
    "rust/preferences/Cargo.toml",
    { path = "Cargo.toml", dependency = "conformal_preferences" },
    "Cargo.lock"
]
changelog = "rust/preferences/CHANGELOG.md"
scopes = ["conformal_preferences"]

[packages.conformal_component]
versioned_files = [
    { path = "Cargo.toml", dependency = "conformal_component" },
    "rust/component/Cargo.toml",
    "Cargo.lock"
]
changelog = "rust/component/CHANGELOG.md"
scopes = ["conformal_component"]

[packages.conformal_ui]
versioned_files = [
    { path = "Cargo.toml", dependency = "conformal_ui" },
    "rust/ui/Cargo.toml",
    "Cargo.lock"
]
changelog = "rust/ui/CHANGELOG.md"
scopes = ["conformal_ui"]

[packages.conformal_core]
versioned_files = [
    { path = "Cargo.toml", dependency = "conformal_core" },
    "rust/core/Cargo.toml",
    "Cargo.lock"
]
changelog = "rust/core/CHANGELOG.md"
scopes = ["conformal_core"]

[packages.conformal_poly]
versioned_files = ["rust/poly/Cargo.toml", "Cargo.lock"]
changelog = "rust/poly/CHANGELOG.md"
scopes = ["conformal_poly"]

[[workflows]]
name = "prepare-release"

[[workflows.steps]]
type = "PrepareRelease"
allow_empty = true

[[workflows]]
name = "document-change"

[[workflows.steps]]
type = "CreateChangeFile"

[github]
owner = "russellmcc"
repo = "conformal"
