name: CI
run-name: CI

on:
  push:
    branches:
      - "*"

jobs:
  ci:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: "true"
      - uses: ./.github/actions/bootstrap
      - run: bun run ci
