.tsd-kind-icon {
  display: none !important;
}

footer {
  display: none !important;
}

.tsd-nested-navigation {
  margin-left: 24px !important;
}

.tsd-page-navigation-section > summary {
  padding-left: 0 !important;
}

.tsd-page-navigation-section > div {
  margin-left: 24px !important;
}
