.hero {
  font-size: 72px;
  font-weight: 700;
  max-width: 800px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  text-align: center;
}

.hero-subtitle p {
  margin-top: 40px;
  font-size: 24px;
  line-height: 1.35 !important;
  font-weight: 400;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cta-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin-top: 80px;
  justify-content: center;
}

.cta-button {
  border-radius: 30px;
  min-width: 300px;
  text-decoration: none;
  background: linear-gradient(
    135deg,
    #40c9ff 0%,
    #40c9ff 16.67%,
    #e81cff 33.33%,
    #e81cff 40%,
    #40c9ff 66.67%,
    #40c9ff 83.33%,
    #e81cff 100%
  );
  background-size: 300% 300%;
  background-position: 100% 100%;
  text-align: center;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

.cta-button:hover {
  animation: gradient-shift 8s linear infinite;
}

.cta-button-secondary {
  border-radius: 30px;
  min-width: 300px;
  text-decoration: none;
  border: 1px solid;
  text-align: center;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
}

@keyframes gradient-shift {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}

@media (max-width: 860px) {
  .hero {
    font-size: 56px;
    margin-top: 40px;
  }
}

@media (max-width: 632px) {
  .hero {
    font-size: 36px;
    max-width: 400px;
    margin-top: 40px;
  }

  .hero-subtitle p {
    max-width: 400px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .cta-buttons {
    margin-top: 40px;
  }

  .cta-button p {
    font-size: 18px;
  }
  .cta-button-secondary p {
    font-size: 18px;
  }
}

@media (max-width: 425) {
  .hero {
    font-size: 28px;
    max-width: 325px;
    margin-top: 40px;
  }
}
