name: CI
run-name: CI

on:
  push:
    branches:
      - "*"

jobs:
  ci:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/bootstrap
      - run: bun run ci
