name: Release Docs
run-name: Release Docs

on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  release-docs:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: "true"
          fetch-depth: 0
      - uses: ./.github/actions/bootstrap
      - run: bun run deploy-docs
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./_site
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: release-docs
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
