name: Prepare Release
run-name: Prepare Release

permissions:
  contents: write
  id-token: write
  pull-requests: write
  repository-projects: write

on:
  push:
    branches:
      - main

jobs:
  prepare:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: "true"
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Cache bun dependencies
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: bun-${{ runner.os }}-${{ hashFiles('bun.lock') }}
          restore-keys: bun-${{ runner.os }}-
      - run: bun install --frozen-lockfile
        shell: bash
      - run: brew install knope-dev/tap/knope
        shell: bash
      - run: bun run prepare-release
        shell: bash
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@d4f3be6ce6f4083b7ac7490ab98b48a62db1ee41 # v7.0.10
        with:
          branch: next-release
          title: "Release recent changes"
          body: "Merging this PR will create new releases for changed packages. Note that CI will not run on this branch, please bypass rules when merging"
          sign-commits: true
